h2 {
    font-family: Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
}
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}